ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li a:hover {
    background-color: #111;
}  

h1 {
    text-align: center;
    font-style: italic;
}

h1:hover {
    color: #808080;
    text-decoration: underline;
}

table.center {
    margin-left: auto; 
    margin-right: auto;
}


table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
    width:600px;
    color: #fff;
}

th {
    background-color: #181818;
}

tr:nth-child(odd) {
    background-color: #444343;
}

tr:nth-child(even) {
    background-color: #696969;
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.images img {
    width: 30%;
}

.active {
    background-color: #04AA6D;
  }